@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

.font {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}

.parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

